@charset "UTF-8";
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}


.input-field{
	color: white;
	font-size: 30px;
}
.box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	padding: 40px;
	background: rgba(0,0,0, .9); 
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0, .5);
	border-radius: 10px;
}
h1{
	position: relative;
	top: 2%;
	left: 0%;
	color: #0000ff;
}
.box h2{
	margin: 0 0 30px;
	padding: 0;
	color: white;
	text-align:center;
}
#header{
	color: #03a9f4;;
	position: relative;
	top: 0%;
	left: 0%;
}
label{
	font-size: 20px;
}
#label1_doctor{
	font-size: 22px;
}
#label2_doctor{
	font-size: 22px;
}
#label3_doctor{
	font-size: 22px;
}
#label4_doctor{
	font-size: 22px;
}
#prenom1_doctor{
	font-size: 20px;
	color: white;
}
#prenom2_doctor{
	font-size: 20px;
	color: white;
}
#nom_doctor{
	font-size: 20px;
	color: white;
}
#login_doctor{
	font-size: 20px;
	color: white;
}
#password_doctor{
	font-size: 20px;
	color: white;
}
.box .inputBox{
	position: relative;
}
.box .inputBox input{
	width : 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border:none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}
.box .inputBox label{
	/* position: absolute;
	top: 0;
	left: 0;  */
	padding: 10px 0;
	font-size: 20px;
	color: #fff;	
	pointer-events: none;
	transition: 0.5s;			
}
.box .inputBox input:focus  ~ label,
.box .inputBox input:valid  ~ label{
	top: -18px;
	left: 0;
	color:#03a9f4;
	font-size:22px;
}
.box input[type="submit"]{
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #03a9f4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}
.incorect{
	color: red;
	font-style: italic;
	font-size:20px;
	position: relative;
	left: 37%;
}
#valider{
	background-color: #0099ff;
	position: relative;
	left: 10%;
	font-size: 16px;
	height: 100%;
}
#valider:hover{
	box-shadow: 0 5px 5px rgba(0,123,255, .5);
	background-color: #007bff;
}
#heart{
	position: absolute;
	top: 96%;
	left: 86%;
	font-size: 20px;
	font-style: italic;
	color: #000;
}
	
		
		
		
		
		
		
		